/*Header*/
header,footer{
	background-color: #0c00e9;
	width: 100%;
	height: auto;
	min-height: 47px;
}

footer{
	display: flex;
	justify-content: center;
}
footer p{
	display: flex;
	flex-direction: column;
}

footer a{
	display: flex;
	flex-direction: row;
}

/*position menu*/
.menu_principal,.top_menu div{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.top_menu div{
	display: inline-block;
}

.menu_principal a,.top_menu a,footer a, footer p{
	color: white;
	margin: 5px;
}
.top_menu a{
	margin-right: 20px;
}

/*parametres generaux*/
body,div,.etape_tuto,.contenu{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1%;
    padding: 1%;
}
.contenu{
	max-width: 80%;
}

h1{
	font-size: 35px;
	color: #0c00e9;
}

/*blocs tuto*/
.etape_tuto{
	background-color: #f2f2f2;
	border-radius: 6px;
	width: 800px;
}

.etape_tuto img{
	height: auto;
	max-width: 700px;
	max-width: 100%;
}

/*bouton chapitre*/
a .bouton_chapitre, .bouton{
	background-color: #0c00e9;
	font-weight: bold;
	color: white;
	border-radius: 6px;
	padding: 15%;
	cursor:pointer;
}

a:link{
	text-decoration: none;
}

/*effet bouton au survol*/
.nav_chapitres a:hover,input:hover{
	background-color: white;
	color: #0c00e9;
}