/* Menu */

.navbar-brand {
    flex-wrap: wrap;
}

.navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 2;
    flex-wrap: wrap;
}
/* Banner */


.banner .banner-img {
    position: relative;
    
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top:30%;
    
    
}

.banner h1,h2{
    columns: #353535;
}





/* PAGE TUTORIALS */
.notification .header-text {

    background-color: #0c00e9;
    color: #ffffff;
}



/*blocs tuto*/
.etape_tuto{
	background-color: #f2f2f2;
	border-radius: 6px;
	width: 800px;
}

.etape_tuto img{
	height: auto;
	max-width: 700px;
	max-width: 100%;
}

/*bouton chapitre*/
a .bouton_chapitre, .bouton{
	background-color: #0c00e9;
	font-weight: bold;
	color: white;
	border-radius: 6px;
	padding: 3%;
	cursor: pointer;
}
/*
.bouton_chapitre{
	position: relative;
	left: 270%;
}
*/
a:link{
	text-decoration: none;
}

.nav_chapitres a:hover,input:hover{
	background-color: white;
	color: #0c00e9;
}

/*menu de Navigation des chapitres tutos*/
section .nav_chapitres{
	background-color: #0c00e9;
	padding: 1% 0% 1% 0%;
	position:fixed; 
	right: 2%;
	width: 10%;
	align-items: center;
	margin-top: 15%;
}

.nav_chapitres a{
	color: white;
	padding: 3%;
	margin: 2%;
	width: 100%;
	text-align: center;
}

.nav_chapitres{
	display: flex;
	flex-direction: column;
	border-radius: 6px;
}

/* PAGE LOGIN */

.loginbox
{

    width: 50%;
    height: 420px;
    box-sizing: border-box;
	background: url("file:///home/alexandre/Padni/src/img/desk-1081708_960_720.jpg");
	background-repeat: no-repeat;
	background-position: center; 
    margin: auto;
}

.loginbox p
{

	text-align: center;
	margin: 0;
	padding: 0;
	color: #000000;

}
.loginbox a
{

	text-align: center;
	margin: 0;
	padding: 0;

}

.loginbox input
{

	background-color: #0c00e9;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
	width: 98%;
	border-radius: 5px;
	cursor: pointer;
}
.loginbox input:hover
{

	background-color: #ffffff;
    border: none;
    color: #0c00e9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
	width: 98%;
	border-radius: 2px;
	cursor: pointer;
}

.loginbox input[type="text"],
.loginbox input[type="password"]
{
    background-color: #ffffff;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 88%;
	border-bottom: 2px solid #ffffff;
	border-radius: 2px;
}

.loginbox input:hover[type="text"],
.loginbox input:hover[type="password"]
{
    background-color: #ffffff;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 88%;
	border-bottom: 2px solid #0c00e9;
	border-radius: 2px;
}


/*MENU FIXE TUTO*/
section .nav_chapitres{
	background-color: #0c00e9;
	padding: 1% 0% 1% 0%;
	position:fixed; 
	right: 2%;
	width: 10%;
	align-items: center;
	margin-top: 15%;
}

.nav_chapitres a{
	color: white;
	padding: 3%;
	margin: 2%;
	width: 100%;
	text-align: center;
}

.nav_chapitres{
	display: flex;
	flex-direction: column;
	border-radius: 6px;
}


/*PAGE CONTACT*/

.loginboxcontact
{

    width: 50%;
    height: 420px;
    box-sizing: border-box;
	margin: auto;
	background-color: #f2f2f2;
}


.loginboxcontact p
{

	text-align: center;
	margin: 0;
	padding: 0;
	color: #000000;

}
.loginboxcontact a
{

	text-align: center;
	margin: 0;
	padding: 0;

}

.loginboxcontact input
{

	background-color: #0c00e9;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
	width: 98%;
	border-radius: 5px;
	cursor: pointer;
}

.loginboxcontact textarea
{

	background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
	width: 88%;
	border-radius: 5px;
	cursor: pointer;
}
.loginboxcontact input:hover
{

	background-color: #ffffff;
    border: none;
    color: #0c00e9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
	width: 98%;
	border-radius: 2px;
	cursor: pointer;
}

.loginboxcontact input[type="text"],
.loginboxcontact input[type="password"]
{
    background-color: #ffffff;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 88%;
	border-bottom: 2px solid #ffffff;
	border-radius: 2px;
}

.loginboxcontact input:hover[type="text"],
.loginboxcontact input:hover[type="password"]
{
    background-color: #ffffff;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 88%;
	border-bottom: 2px solid #0c00e9;
	border-radius: 2px;
}

