
/* Header */

.header {
    width: 100%;
    margin:0;
    height:  70px; 
    line-height: 70px;
    background-color: #0c00e9;
    top: 0;
}

.header .header-logo {
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    float:left;
    margin-left:20%;


}

.header .header-nav {
    float: right;
    margin-right: 20%;
  
}

.header .header-nav a 
{
    color: #ffffff;
    margin-right: 15px; 
}
.header .header-nav a:hover
{
    color: #0c00e9;
    margin-right: 15px; 
    background-color:#ffffff;
    border-radius: 2px;
    line-height: 25px;

}
/*parametres generaux*/
body,section,div,.etape_tuto{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1%;
}
section{
	width: 65%;
	max-width: 80%;
}

div, iframe{
	padding: 2%;
	max-width: 100%;
	height:auto;
}

h1{
	font-size: 35px;
	color: #0c00e9;
}

/*blocs tuto*/
.etape_tuto{
	background-color: #f2f2f2;
	border-radius: 6px;
	width: 800px;
}

.etape_tuto img{
	height: auto;
	max-width: 700px;
	max-width: 100%;
}

/*bouton chapitre*/
a .bouton_chapitre, .bouton{
	background-color: #0c00e9;
	font-weight: : bold;
	color: white;
	border-radius: 6px;
	padding: 15%;
}
/*
.bouton_chapitre{
	position: relative;
	left: 270%;
}
*/
a:link{
	text-decoration: none;
}

.nav_chapitres a:hover,input:hover{
	background-color: white;
	color: #0c00e9;
}

/*menu de Navigation des chapitres tutos*/
section .nav_chapitres{
	background-color: #0c00e9;
	padding: 2%;
	position:fixed; 
	right: 2%;
	width: 10%;
	align-items: center;
	margin-top: 15%;
}

.nav_chapitres a{
	color: white;
	padding: 3%;
	margin: 2%;
}

.nav_chapitres{
	display: flex;
	flex-direction: column;
	border-radius: 6px;
}