/*Header*/
header{
	background-color: #0c00e9;
	width: 100%;
	height: 150px;
	position: absolute;
}

#menu_principal{
	margin-right: 10%;
	position: relative;
	left: 70%;
}

#menu_principal a,#menu_connection a{
	color:white;

}
/*parametres generaux*/
body,section,div,.etape_tuto{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1%;
}
section{
	max-width: 80%;
}

div, iframe{
	padding: 2%;
	max-width: 100%;
	height: auto;
}

iframe{
	min-width: 560px;
	min-height: 315px;
}

h1{
	font-size: 35px;
	color: #0c00e9;
}

/*blocs tuto*/
.etape_tuto{
	background-color: #f2f2f2;
	border-radius: 6px;
	width: 800px;
}

.etape_tuto img{
	height: auto;
	max-width: 700px;
	max-width: 100%;
}

/*bouton chapitre*/
a .bouton_chapitre, .bouton{
	background-color: #0c00e9;
	font-weight: bold;
	color: white;
	border-radius: 6px;
	padding: 15%;
	cursor:pointer;
}
/*
.bouton_chapitre{
	position: relative;
	left: 270%;
}
*/
a:link{
	text-decoration: none;
}

.nav_chapitres a:hover,input:hover{
	background-color: white;
	color: #0c00e9;
}